.nav-button {
  width: 15rem;
  height: 5rem;
  padding: 5px 10px;
  background: black;
  color: white;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
}

.nav-button:hover {
  cursor: pointer;
  transform: scale(1.05);
}
