.form {
  padding: 10px;
  text-align: center;
  border: solid white 1px;
  border-radius: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}

.url-input-container {
  height: 350px;
}
